@import "./variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family:
    $font-family,
    -apple-system,
    "Helvetica Neue",
    sans-serif;
  background-color: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding-right: calc((135 / 16) * 1rem);
  padding-left: calc((135 / 16) * 1rem);
}

.wrapper {
  overflow: hidden;
}

.gradient__text {
  background: $gradient-text;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  background-color: #ff4820;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
  }
}

.slide-top-text {
  -webkit-animation: slide-top-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-top-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@-webkit-keyframes slide-top-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-bottom-text {
  -webkit-animation: slide-bottom-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-bottom-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@-webkit-keyframes slide-bottom-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-bottom-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.slide-left-text {
  -webkit-animation: slide-left-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-left-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@-webkit-keyframes slide-left-text {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-left-text {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-right-text {
  -webkit-animation: slide-right-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-right-text 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

@-webkit-keyframes slide-right-text {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right-text {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-right: calc((65 / 16) * 1rem);
    padding-left: calc((65 / 16) * 1rem);
  }

  .section__margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding-right: calc((28 / 16) * 1rem);
    padding-left: calc((28 / 16) * 1rem);
  }

  .section__margin {
    margin: 4rem 2rem;
  }
}
